!**/glob-import/dir/node_modules
.DS_Store
.idea
*.cpuprofile
*.local
*.log
/.vscode/
/docs/.vitepress/cache
/packages/vite/LICENSE
dist
dist-ssr
explorations

client/node_modules
server/node_modules

client/.env
server/.env


playground-temp
temp
TODOs.md
.eslintcache